<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css?v={{ site.time | date: '%s' }}" type="text/css" media="all" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="page-error">
    <main class="content error">
      {{ content }}
    </main>
  </body>
</html>
